@import "../styles/hamburgers/hamburgers.scss";

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 200px;
}

section {
  height: 100vh;
  background-color: #f0eef3;
  text-align: center;
  padding: 20px 15px;
}

.maintenanceGif {
  width: 500px;
  margin: auto;
}
