@import "../styles/hamburgers/hamburgers.scss";

img {
  max-width: 100%;
}

section {
  height: 100vh;
  background-color: #f0eef3;
  text-align: center;
  padding: 20px 15px;
}

.maintenanceGif {
  width: 500px;
  margin: auto;
}
