@import url("../styles/variables.scss");

.homepage-banner {
  height: 85vh;
  display: flex;
  max-width: var(--maxWidth);
  margin: auto;
  padding: var(--100) var(--20);

  .homepage-banner-right,
  .homepage-banner-left {
    flex: 1;
  }
  .homepage-banner-title {
    font-family: "Nibpro-bold";
    font-size: 75px;
    position: relative;
  }

  .homepage-banner-title:after {
    // content: attr(title);
    color: transparent;
    -webkit-text-stroke: 1px #aab4ff;
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: middle;
    z-index: -1;
    transform: translate(4px, 4px);
    backface-visibility: hidden;
  }

  .homepage-banner-subtitle {
    font-size: 22px;
  }
}

// Case studies

.case-study {
  background-color: var(--lightYellowBg);
  text-align: center;
  padding: var(--padding);
}

.case-study-container {
  display: flex;
  box-shadow: 0 30px 60px rgb(0 0 0 / 21%);
  margin-bottom: var(--100);
}

.case-study-left,
.case-study-right {
  flex: 1;
}

.case-study-left {
  background-color: var(--white);
  padding: 40px 50px;
  text-align: left;
  display: flex;
  align-items: center;
}

.case-study-title {
  font-size: 42px;
  margin: 0;
  font-family: "Nibpro-bold";
  margin-bottom: 15px;
}

.case-study-description {
  font-size: 22px;
}

.case-study-subtitle {
  margin-top: 0;
  display: flex;
  align-items: center;
  margin-bottom: var(--20);
}

.case-study-subtitle::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #333;
  margin-right: 10px;
}

/** Tab styling **/

@media (max-width: 1023px) and (min-width: 768px) {
}

/** Mobile styling **/

@media (max-width: 767px) {
  .homepage-banner {
    flex-direction: column;
    margin-top: var(--30);
    .homepage-banner-title {
      font-size: 44px;
    }
  }

  .case-study-container {
    flex-direction: column;

    .case-study-title {
      font-size: 32px;
    }

    .case-study-description {
      font-size: 18px;
    }

    .case-study-right {
      max-height: 350px;
      display: flex;

      img {
        object-fit: cover;
      }
    }
  }
}
