@font-face {
  font-family: "Nibpro";
  src: url(../Fonts/NibPro-Regular.woff2);
}

@font-face {
  font-family: "Nibpro-bold";
  src: url(../Fonts/NibPro-Bold.woff2);
}

@font-face {
  font-family: "Faktum";
  src: url(../Fonts/Faktum-Regular.woff2);
}
