:root {
  --white: #fff;
  --black: #000;
  --primaryBlue: #1700e6;
  --primaryDarkBlue: #0d0080;
  --secondaryYellow: #fc3;
  --lightYellowBg: #fbf9f4;
  --pastelGreen: #f1faf4;
  --pastelBlue: #e8f0f6;
  --maxWidth: 1240px;
  --padding: 70px 0;
  --70: 70px;
  --50: 50px;
  --100: 100px;
}
