:root {
  --white: #fff;
  --black: #000;
  --blackBg: #171a1c;
  --primaryBlue: #1700e6;
  --primaryDarkBlue: #0d0080;
  --secondaryYellow: #fc3;
  --lightYellowBg: #fbf9f4;
  --pastelGreen: #f1faf4;
  --pastelBlue: #e8f0f6;
  --maxWidth: 1240px;
  --padding: 125px 0;
  --grayBorder: #2e3338;
  --footerText: #9da6af;
  --20: 20px;
  --30: 30px;
  --50: 50px;
  --70: 70px;
  --100: 100px;
  --125: 125px;
}
