:root {
  --white: #fff;
  --black: #000;
  --primaryBlack: #171a1c;
  --primaryGray: #F8F7F6;
  --primaryPurple: #5a45ff;
  --primaryDarkPurple: #0d0080;
  --maxWidth: 1240px;
  --padding: 125px 0;
  --footerText: #9da6af;
  --20: 20px;
  --30: 30px;
  --50: 50px;
  --70: 70px;
  --100: 100px;
  --125: 125px;
}
